body {
  background-color: #f5deb3;
}

.mainContainer {
  margin-top: 75px;
  /* display: block; */
  text-align: center;
  width: 100%;
  height: 450px;
}

.btn {
  margin: 50px;
  height: 60px;
  width: 50%;
  font-size: larger;
  border-radius: 20px;
  background-color: #fa8072;
}

.inputBox {
  height: 100px;
  width: 90%;
  margin: 50px;
  background-color: #f5deb3;
  border-style: none;
  /* background-color: brown; */
  color: brown;
  text-align: center;
  font-size: 60px;
}
